---
layout: basic
title: Social Web Developer
---

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <div class="row">
  <span class="span3">
    <a href="http://www.photojunkie.ca/archive/2012/02/podcamp-toronto-2012-portraits/">
      <img src="images/pcto2012.jpg" width="200px" height="200px" alt="Taken by Photojunkie"/>
    </a>
  </span>
  <span class="span6">
    <h1>Will Spaetzel</h1>
    <p>Web Developer, Entrepreneur, Podcaster and Runner</p>
  </span>
</div>
</div>


<!-- Example row of columns -->
<div class="row">
  <ul class="thumbnails">
    <li class="span3">
      <a href="http://blog.spaetzel.com">
        <div class="thumbnail">

          <img src="images/blog.png" alt="">
          <div class="caption">
            <h3>Personal Blog</h3>
            <p>Musings on all of my interests</p>
          </div>

        </div>
      </a>
    </li>
    <li class="span3">
      <a href="http://castroller.com">
        <div class="thumbnail">

          <img src="images/castroller.png" alt="">
          <div class="caption">
            <h3>CastRoller</h3>
            <p>My startup for making it easy to find and enjoy the best podcasts on the web</p>
          </div>

        </div>
      </a>
    </li>

    <li class="span3">
     <a href="http://github.com/spaetzel">
      <div class="thumbnail">

        <img src="images/github.png" alt="">
        <div class="caption">
          <h3>Github Profile</h3>
          <p>Open source projects I have created a contributed to</p>
        </div>
        
      </div>
    </a>
  </li>

  <li class="span3">
    <a href="http://twitter.com/spaetzel">
      <div class="thumbnail">

        <img src="images/twitter.png" alt="">
        <div class="caption">
          <h3>Twitter</h3>
          <p>Short bursts of insight and news</p>
        </div>

      </div>
    </a>
  </li>

  
</ul>
</div>
<div class="row">
  <ul class="thumbnails">
    <li class="span3">
      <a href="http://watcamp.com">
        <div class="thumbnail">

          <img src="images/watcamp.png" alt="">
          <div class="caption">
            <h3>WatCamp.com</h3>
            <p>A community curated calendar of tech events in Waterloo Region</p>
          </div>

        </div>
      </a>
    </li>


    <li class="span3">
      <a href="http://blog.castroller.com">
        <div class="thumbnail">

          <img src="images/castrollerblog.png" alt="">
          <div class="caption">
            <h3>CastRoller Blog & Podcast</h3>
            <p>Talking about tech & podcasting news as well as developing CastRoller</p>
          </div>
          
        </div>
      </a>
    </li>

    <li class="span3">
      <a href="http://dailymile.com/people/spaetzel">
        <div class="thumbnail">

          <img src="images/dailymile.png" alt="">
          <div class="caption">
            <h3>dailymile Profile</h3>
            <p>Tracking my running habit</p>
          </div>

        </div>
      </a>
    </li>

    <li class="span3">
      <a href='https://alpha.app.net/spaetzel' rel='me'>
        <div class="thumbnail">

         
          <div class="caption">
            <h3>App.net</h3>
            <p>Extra geeky micro updates</p>
          </div>

        </div>
      </a>
    </li>



  </ul>
</div>
