<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} : Will Spaetzel</title>
   <meta name="author" content="Will Spaetzel" />
   <link href="http://feeds.feedburner.com/spaetzel" rel="alternate" title="Will Spaetzel" type="application/atom+xml" />

<style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

      .hero-unit{
        margin-right: 40px;
        padding: 30px;
      }
    </style>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
   
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="screen, projection" />
   <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-65655-4']);
  _gaq.push(['_setDomainName', 'spaetzel.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>


    <div class="container">
 
  
  {{ content }}


    <footer>
        <div class="contact">
      <p>
        Will Spaetzel<br />
        Founder of <a href="http://castroller.com/">CastRoller</a><br />
        will@spaetzel.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/spaetzel/">github.com/spaetzel</a><br />
        <a href="http://twitter.com/spaetzel/">twitter.com/spaetzel</a><br />
        <a href="http://flickr.com/photos/redune/">flickr.com/photos/redune</a>
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/spaetzel">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
      </footer>

    </div> <!-- /container -->
</body>
</html>